main {
    padding: 0px 15px;
    font-family: 'Orkney Light';
}

a {
    text-decoration: none;
}

header nav {
    font-family: 'Bebas Neue Light';
    font-size: 20px;
    display: flex;
    justify-content: center;
}

header nav ul {
    display: flex;
    padding-left: 0;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    margin: 0 20px 0 0;
}

header nav ul li:last-child a {
    margin-right: 0;
}

section {
    margin-bottom: 100px
}

h1 {
    font-family: 'Orkney Light';
    margin: 30px 100px;
}

h2 {
    margin: 0 10px;
    border-bottom: 1px solid rgb(120, 43, 158);
}

.group {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.item {
    flex: 1;
    margin: 10px;
}

.item-double {
    flex: 2;
}

img {
    margin-top: 50px;
    width: 100%;
}

.image-circle {
    padding: 30px;
    width: 350px; 
    height: 350px;
    border-radius: 50%;
}

.align-right {
    text-align: right;
}

.intro {
    padding-top: 130px;
}

footer {
    flex: 1;
    margin: 10px;
    padding: 0px 60px;

}

/* PROJECTS */

.self-flex-start { 
    align-self: flex-start; 
}

.self-flex-end { 
    align-self: flex-end; 
}

.self-center { 
    align-self: center; 
}

/* CONTACT PAGE */
fieldset {
    padding: 10px 12px;
    margin: 5px 0 10px 0;
    border-radius: 6px;
}

legend {
    background-color: plum;
    color: black;
    padding: 8px 8px;
    border-radius: 6px;
}

.message textarea {
    padding-top: 30px;
    margin-left: 5px;
    width:95%;
}

form label {
    display: block;
}

form input {
    color: black;
    margin-bottom: 20px;
}

form button {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1;
    font-family: 'Orkney Light';
    font-size: 14px;
    background: plum;
    color: black;
    margin: 0 8px 10px 0;
}

form button:hover {
    color: pink;
}


/* section.bg-callout {
    padding: 60px 0;
    background-color: grey
} */

/* Groups & Items (Desktop) */
@media all and (min-width: 800px) {
    /* header {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }
    header h1 {
        margin: 14px 0;
        padding-top: 0;
    }
    
    header nav {
        margin-top: 8px;
    }  */

    header nav ul li a:hover {
        color: pink;
    }

    section {
        padding: 0 5%;
    }

    .group {
        flex-direction: row;
    }
}